  <td>
                            <a href="{{ path( myshow, { 'id': myid }) }}">
                                <img src="{{ asset('bundles/applicationepost/images/detail.png') }}" alt="show" width="15" height="15" />
                            </a>
                        </td>
                        <td>
                            <a href="{{ path( myedit, { 'id': myid }) }}">
                                <img src="{{ asset('bundles/applicationepost/images/edit.png') }}" alt="edit" width="15" height="15" />
                            </a>
</td>
                    
   
   