
       <div id="tags" style="display: none;">
<ul class="weighted" style="font-size: 50%" id="weightTags">
    
    {% for tag in alltags %}
    {% if tagweight[tag.name] != 0 %}
          <li>
              
              <a data-weight="{{ tagweight[tag.name] }}" href="{{ url('epost_tags_show', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
             
              </li>
              {% endif %}
           {% endfor %}
	{#<li><a href="#" data-weight="14" style="font-size: 2.83ex">1000</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.61ex">background</a></li>
	<li><a href="#" data-weight="40" style="font-size: 9.64ex">canvas</a></li>
	<li><a href="#" data-weight="22" style="font-size: 4.47ex">chart</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.46ex">charts</a></li>
	<li><a href="#" data-weight="60" style="font-size: 12.32ex">cloud</a></li>
	<li><a href="#" data-weight="18" style="font-size: 3.74ex">clouds</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.16ex">example</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.32ex">screensaver</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">script</a></li>
	<li><a href="#" data-weight="65" style="font-size: 13ex">svg</a></li>
	<li><a href="#" data-weight="21" style="font-size: 4.47ex">svggraph</a></li>
	<li><a href="#" data-weight="62" style="font-size: 12.44ex">tag</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">tagcanvas</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.46ex">tagcloud</a></li>
	<li><a href="#" data-weight="13" style="font-size: 2.65ex">text</a></li>
	<li><a href="#" data-weight="17" style="font-size: 3.16ex">word</a></li>
#}
</ul>
     </div>
<center>
    <canvas id="tagcanvas" height="300" style="margin-bottom: 20px;"></canvas></center>



