{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}

  <h2><center>{{ "change_password" | trans({}, 'SonataUserBundle')}}</center></h2>

{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}
