 <br>
 <table class="table table-bordered">
    <tbody>      
       
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    <tr> <td>{{ form_widget(form) }}
          </td></tr>
                <tr><td>
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
       </td></tr>
    </tbody></table>
</form>
